Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*

Update README.md for K3s deployment guide
  frontend/k8s/README.md
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update Dockerfile and README for improved dependency management and command consistency
  frontend/docker/Dockerfile
  frontend/docker/README.md
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor Dockerfile for improved dependency installation
  frontend/docker/Dockerfile
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update ESLint configuration to change specific rules from error to warning
  frontend/eslint.config.mjs
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor EditItemPage to handle params as a Promise and improve item fetching logic
  frontend/src/app/items/[id]/edit/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance OAuth callback handling with Suspense and refactor component structure
  frontend/src/app/auth/oauth2/callback/page.tsx
  frontend/src/app/items/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update frontend-deployment.yaml to change nodePort for external access
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor frontend components and update terminology for consistency
  frontend/README.md
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/components/StatsCards.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/ItemsFilter.tsx
  frontend/src/app/items/components/ItemsGrid.tsx
  frontend/src/app/items/components/ItemsHeader.tsx
  frontend/src/app/items/components/ItemsSkeleton.tsx
  frontend/src/app/items/new/page.tsx
  frontend/src/app/items/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/components/AccountInformation.tsx
  frontend/src/app/profile/components/BackupCodesDialog.tsx
  frontend/src/app/profile/components/ChangePassword.tsx
  frontend/src/app/profile/components/JwtUpdateConfirmDialog.tsx
  frontend/src/app/profile/components/OAuthNotice.tsx
  frontend/src/app/profile/components/OAuthUpdateConfirmDialog.tsx
  frontend/src/app/profile/components/PasswordConfirmDialog.tsx
  frontend/src/app/profile/components/ProfileHeader.tsx
  frontend/src/app/profile/components/ProfileInformation.tsx
  frontend/src/app/profile/components/TotpVerificationDialog.tsx
  frontend/src/app/profile/components/TwoFactorAuth.tsx
  frontend/src/app/profile/components/TwoFactorSetupDialog.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/Skeleton.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update layout and ChangePassword component styles
  frontend/src/app/layout.tsx
  frontend/src/app/profile/components/ChangePassword.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update user profile method to make currentPassword optional
  backend/apps/auth-service/src/auth-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add Firebase configuration to secrets.yaml.example
  backend/k8s/base/secrets.yaml.example
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Update Kubernetes deployment configurations to include Firebase environment variables and change image pull policy
  backend/k8s/base/auth-deployment.yaml
  backend/k8s/base/category-deployment.yaml
  backend/k8s/base/email-deployment.yaml
  backend/k8s/base/gateway-deployment.yaml
  backend/k8s/base/item-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Refactor authOptions declaration in NextAuth configuration
  frontend/src/app/api/auth/[...nextauth]/route.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update nodePort in frontend-deployment.yaml to avoid conflict
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor NextAuth configuration and update .gitignore
  frontend/.env.example
  frontend/.gitignore
  frontend/src/app/api/auth/[...nextauth]/route.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add NextAuth environment variables to frontend-deployment.yaml
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update NEXTAUTH_URL in frontend-deployment.yaml to include NodePort
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Implement Two-Factor Authentication (2FA) in Login Flow
  backend/k8s/monitoring/GRAFANA-DASHBOARDS-SETUP.md
  backend/k8s/monitoring/PROMETHEUS-MINIMAL-GUIDE.md
  backend/k8s/monitoring/nestjs-metrics-setup.md
  backend/k8s/monitoring/prometheus-minimal.yaml
  backend/k8s/monitoring/prometheus-values-lightweight.yaml
  backend/k8s/monitoring/prometheus-values-minimal.yaml
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/profile/components/TotpVerificationDialog.tsx
  frontend/src/app/profile/components/TwoFactorAuth.tsx
  frontend/src/app/profile/components/TwoFactorSetupDialog.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/TwoFactorModal.tsx
  frontend/src/contexts/AuthContext.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor item service and frontend components for improved functionality and user experience
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  frontend/k8s/README.md
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/components/StatsCards.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/DeleteItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/app/items/components/ItemsFilter.tsx
  frontend/src/app/items/components/ItemsGrid.tsx
  frontend/src/app/items/page.tsx
  frontend/src/components/CategorySelect.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/validations.ts
  frontend/src/types/common.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor item creation and deletion components for improved data handling
  frontend/src/app/items/components/DeleteItemDialog.tsx
  frontend/src/app/items/new/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance item service and frontend components for improved data handling and user experience
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/app/items/components/ItemsGrid.tsx
  frontend/src/app/items/new/page.tsx
  frontend/src/app/items/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/CategorySelect.tsx
  frontend/src/types/common.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Enhance item editing page with category selection and data fetching
  frontend/src/app/items/[id]/edit/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance dashboard and item management with category integration and UI improvements
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/app/items/components/ItemsFilter.tsx
  frontend/src/app/items/components/ItemsGrid.tsx
  frontend/src/app/items/components/ItemsHeader.tsx
  frontend/src/lib/validations.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance item retrieval and sorting functionality across services and frontend
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/lib/validations.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add backend services update scripts and documentation
  backend/k8s/services/README.md
  backend/k8s/services/update-all.sh
  backend/k8s/services/update-auth.sh
  backend/k8s/services/update-category.sh
  backend/k8s/services/update-email.sh
  backend/k8s/services/update-gateway.sh
  backend/k8s/services/update-item.sh
  docs/API_ENDPOINTS_LIST.md
  frontend/Makefile
  frontend/k8s/QUICK-DEPLOY-GUIDE.md
  frontend/k8s/deploy-first-time.sh
  frontend/k8s/update-service.sh
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add housekeeping service integration and endpoints to Gateway API
  HOUSEKEEPING-SETUP.md
  backend/.env.example
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.module.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/housekeeping-service/LOGGING.md
  backend/apps/housekeeping-service/README.md
  backend/apps/housekeeping-service/src/housekeeping-service.controller.ts
  backend/apps/housekeeping-service/src/housekeeping-service.module.ts
  backend/apps/housekeeping-service/src/housekeeping-service.service.ts
  backend/apps/housekeeping-service/src/logger/housekeeping-logger.service.ts
  backend/apps/housekeeping-service/src/main.ts
  backend/apps/housekeeping-service/src/prisma.service.ts
  backend/apps/housekeeping-service/test/app.e2e-spec.ts
  backend/apps/housekeeping-service/test/jest-e2e.json
  backend/apps/housekeeping-service/tsconfig.app.json
  backend/create-items.js
  backend/docker/Dockerfile.housekeeping
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/prisma-archive/schema.prisma
  backend/scripts/manual-archive.ts
  backend/tsconfig.json
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add medical supplies service integration and API endpoints
  backend/apps/apps/main/tsconfig.app.json
  backend/apps/gateway-api/src/dto/index.ts
  backend/apps/gateway-api/src/dto/medical-supply.dto.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.module.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/gateway-api/src/main.ts
  backend/apps/medical-supplies-service/src/dto/index.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/main.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.module.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/medical-supplies-service/test/app.e2e-spec.ts
  backend/apps/medical-supplies-service/test/jest-e2e.json
  backend/apps/medical-supplies-service/tsconfig.app.json
  backend/docker/Dockerfile.medical-supplies
  backend/docker/docker-compose.yml
  backend/nest-cli.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/test-api.sh
  docs/API_ENDPOINTS_LIST.md
  frontend/README.md
  frontend/docker/docker-compose.dev.yml
  frontend/docker/docker-compose.yml
  frontend/next.config.js
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add medical supplies service to production README and update Kustomization for deployment
  backend/k8s/README-PRODUCTION.md
  backend/k8s/overlays/development/kustomization.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add medical supplies service deployment and service configuration
  backend/k8s/base/kustomization.yaml
  backend/k8s/base/medical-supplies-deployment.yaml
  backend/k8s/base/services.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add medical supplies service configuration to Kubernetes manifests
  backend/k8s/base/configmap.yaml
  backend/k8s/base/gateway-deployment.yaml
  backend/k8s/base/kustomization.yaml
  backend/k8s/base/services.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Update gateway deployment configuration to use new API version
  backend/k8s/base/gateway-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Enhance createMedicalSupplyUsage method to support legacy and new data formats
  backend/apps/gateway-api/src/gateway-api.controller.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Enhance logging and error handling in Medical Supplies Service
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Update frontend deployment configuration to use new API version
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update Dockerfiles and deployment scripts for frontend and backend
  backend/docker/Dockerfile.item
  frontend/docker/Dockerfile
  frontend/k8s/CONFIGURATION.md
  frontend/k8s/QUICK-DEPLOY-GUIDE.md
  frontend/k8s/deploy-first-time.sh
  frontend/k8s/update-service.sh
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor Dockerfile to streamline dependency installation and remove unused environment variables
  frontend/docker/Dockerfile
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Remove outdated README-DEVELOPMENT.md and update docker-compose.yml for frontend configuration
  backend/k8s/README-DEVELOPMENT.md
  frontend/docker/docker-compose.yml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add ITEM_SERVICE_URL environment variable and new service port for item service
  backend/k8s/base/gateway-deployment.yaml
  backend/k8s/base/services.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend
