Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*

Update production documentation and add report service configuration
  backend/docker/Dockerfile.report
  backend/k8s/README-PRODUCTION.md
  backend/k8s/base/kustomization.yaml
  backend/k8s/base/report-service-deployment.yaml
  backend/k8s/base/services.yaml
  backend/k8s/overlays/development/kustomization.yaml
  backend/k8s/overlays/production/kustomization.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Implement medical supplies comparison and usage reporting endpoints
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/types/item-comparison-report.types.ts
  backend/prisma/schema.prisma
  frontend/DOCKER-K8S-SETUP.md
  frontend/docker/Dockerfile
  frontend/k8s/README.md
  frontend/k8s/deploy-first-time.sh
  frontend/src/app/medical-supplies/item-comparison/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Update report service configuration for Kubernetes deployment
  backend/apps/report-service/src/main.ts
  backend/k8s/base/configmap.yaml
  backend/k8s/base/gateway-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Refactor report service configuration for improved Kubernetes integration
  backend/apps/report-service/src/report-service.module.ts
  backend/k8s/base/report-service-deployment.yaml
  backend/prisma/full-schema.sql
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Update full database schema and Prisma model for medical supplies management
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Refactor PDF font registration in report service to use project-specific Thai fonts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/assets/README.md
  backend/apps/report-service/assets/fonts/THSarabunNew Bold.ttf
  backend/apps/report-service/assets/fonts/THSarabunNew BoldItalic.ttf
  backend/apps/report-service/assets/fonts/THSarabunNew Italic.ttf
  backend/apps/report-service/assets/fonts/THSarabunNew.ttf
  backend/apps/report-service/src/services/comparison_report_pdf.service.ts
  backend/apps/report-service/src/services/equipment_disbursement_pdf.service.ts
  backend/apps/report-service/src/services/equipment_usage_pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/docker/Dockerfile.report
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Implement staff user management features in auth and gateway services
  backend/apps/auth-service/src/auth-service.controller.ts
  backend/apps/auth-service/src/auth-service.service.ts
  backend/apps/auth-service/src/dto/staff-user.dto.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/prisma/migrations/add_staff_users.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/staff-users/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Enhance homepage and login page with new features and UI improvements
  frontend/public/3_logo_p-1-fit.png
  frontend/src/app/admin/categories/components/CreateCategoryDialog.tsx
  frontend/src/app/admin/categories/components/DeleteCategoryDialog.tsx
  frontend/src/app/admin/categories/components/EditCategoryDialog.tsx
  frontend/src/app/admin/categories/page.tsx
  frontend/src/app/admin/items/[id]/edit/page.tsx
  frontend/src/app/admin/items/components/CreateItemDialog.tsx
  frontend/src/app/admin/items/components/DeleteItemDialog.tsx
  frontend/src/app/admin/items/components/EditItemDialog.tsx
  frontend/src/app/admin/items/components/ItemsFilter.tsx
  frontend/src/app/admin/items/components/ItemsGrid.tsx
  frontend/src/app/admin/items/components/ItemsHeader.tsx
  frontend/src/app/admin/items/components/ItemsSkeleton.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/staff/login/page.tsx
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/assets.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add smooth scrolling and custom scrollbar styles to global CSS
  frontend/src/app/globals.css
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Implement item min/max management features in gateway and item services
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/dto/update-item-minmax.dto.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/admin/items/components/EditItemDialog.tsx
  frontend/src/app/admin/items/components/UpdateMinMaxDialog.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor item retrieval and update methods in GatewayApiService to use item codes
  backend/apps/gateway-api/src/gateway-api.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add vending reports endpoints and services for enhanced reporting capabilities
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/report-service/VENDING_REPORTS_GUIDE.md
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-report-excel.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  backend/apps/report-service/src/services/unmapped-dispensed-report-excel.service.ts
  backend/apps/report-service/src/services/unused-dispensed-report-excel.service.ts
  backend/apps/report-service/src/services/vending-mapping-report-excel.service.ts
  backend/apps/report-service/src/services/vending-mapping-report-pdf.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/medical-supplies/cancel-bill-report/page.tsx
  frontend/src/app/medical-supplies/cancel-bill/page.tsx
  frontend/src/app/medical-supplies/components/CancelBillDialog.tsx
  frontend/src/app/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/medical-supplies/page.tsx
  frontend/src/app/medical-supplies/reports/page.tsx
  frontend/src/app/medical-supplies/reports/return-report/page.tsx
  frontend/src/app/medical-supplies/return/page.tsx
  frontend/src/app/medical-supplies/vending-reports/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Implement return report generation features in report service
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add categories API endpoints for managing categories
  frontend/src/lib/api.ts
  frontend/src/types/common.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Implement Cancel Bill Report generation features in Gateway and Report services
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cancel-bill-report-excel.service.ts
  backend/apps/report-service/src/services/cancel-bill-report-pdf.service.ts
  backend/apps/report-service/src/services/return-report-excel.service.ts
  frontend/src/app/medical-supplies/cancel-bill-report/page.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Update package-lock.json files for backend and frontend
  backend/package-lock.json
  frontend/package-lock.json
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor item service methods for improved readability and error handling
  backend/apps/item-service/src/item-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Add medical supplies usage endpoints and enhance filtering capabilities
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/medical-supplies/item-comparison/components/ComparisonDetailsCard.tsx
  frontend/src/app/medical-supplies/item-comparison/components/ComparisonPagination.tsx
  frontend/src/app/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/medical-supplies/item-comparison/components/FilterSection.tsx
  frontend/src/app/medical-supplies/item-comparison/components/ItemInfoCard.tsx
  frontend/src/app/medical-supplies/item-comparison/components/StatusBadge.tsx
  frontend/src/app/medical-supplies/item-comparison/components/SummaryCards.tsx
  frontend/src/app/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/medical-supplies/item-comparison/page.tsx
  frontend/src/app/medical-supplies/item-comparison/types.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Implement cancel bill handling for medical supplies
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/medical-supplies/cancel-bill/page.tsx
  frontend/src/app/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/components/DispensedPagination.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/types.ts
  frontend/src/app/medical-supplies/page.tsx
  frontend/src/app/medical-supplies/return/components/ReturnDetailsStep.tsx
  frontend/src/app/medical-supplies/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/medical-supplies/return/components/SupplyItemSelectStep.tsx
  frontend/src/app/medical-supplies/return/components/UsageSelectStep.tsx
  frontend/src/app/medical-supplies/return/page.tsx
  frontend/src/app/medical-supplies/return/types.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add medical supply item return and dispense endpoints with report generation features
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  frontend/src/app/medical-supplies/dispense-from-cabinet-stock/page.tsx
  frontend/src/app/medical-supplies/item-comparison/page.tsx
  frontend/src/app/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/medical-supplies/return-to-cabinet/page.tsx
  frontend/src/app/medical-supplies/return/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Enhance item return and dispense functionality with user tracking
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/medical-supplies/dispense-from-cabinet/types.ts
  frontend/src/app/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/medical-supplies/return-to-cabinet/page.tsx
  frontend/src/app/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/medical-supplies/return/types.ts
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor medical supplies usage retrieval and enhance result formatting
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/medical-supplies/dispense-from-cabinet-stock/page.tsx
  frontend/src/app/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/medical-supplies/item-comparison/types.ts
  frontend/src/app/medical-supplies/return-to-cabinet/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Refactor medical supplies service and enhance frontend components
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/medical-supplies/dispense-from-cabinet-stock/page.tsx
  frontend/src/app/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/medical-supplies/return-to-cabinet/page.tsx
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Enhance ComparisonTable and FilterSection components with improved item filtering and dropdown functionality
  frontend/src/app/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/medical-supplies/item-comparison/components/FilterSection.tsx
  frontend/src/app/medical-supplies/item-comparison/page.tsx
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance report generation by including usage details in Excel and PDF outputs
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/types/item-comparison-report.types.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Enhance ComparisonTable component with improved usage data handling and status display
  frontend/src/app/medical-supplies/item-comparison/components/ComparisonTable.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance item comparison functionality with date filtering and improved component structure
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/medical-supplies/item-comparison/components/common/StatusBadge.tsx
  frontend/src/app/medical-supplies/item-comparison/components/common/index.ts
  frontend/src/app/medical-supplies/item-comparison/components/comparison/ComparisonDetailsCard.tsx
  frontend/src/app/medical-supplies/item-comparison/components/comparison/ComparisonPagination.tsx
  frontend/src/app/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/medical-supplies/item-comparison/components/comparison/SummaryCards.tsx
  frontend/src/app/medical-supplies/item-comparison/components/comparison/index.ts
  frontend/src/app/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/medical-supplies/item-comparison/components/filters/index.ts
  frontend/src/app/medical-supplies/item-comparison/components/index.ts
  frontend/src/app/medical-supplies/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/medical-supplies/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/medical-supplies/item-comparison/components/items/index.ts
  frontend/src/app/medical-supplies/item-comparison/page.tsx
  frontend/src/app/medical-supplies/item-comparison/types.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Implement staff user management and role permissions functionality
  backend/apps/auth-service/src/auth-service.controller.ts
  backend/apps/auth-service/src/auth-service.service.ts
  backend/apps/auth-service/src/dto/staff-role-permission.dto.ts
  backend/apps/auth-service/src/dto/staff-role.dto.ts
  backend/apps/auth-service/src/dto/staff-user.dto.ts
  backend/apps/auth-service/src/prisma.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/migrations/add_staff_roles.sql
  backend/prisma/schema.prisma
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/staff-users/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/app/staff/layout.tsx
  frontend/src/app/staff/permissions/roles/page.tsx
  frontend/src/app/staff/permissions/users/page.tsx
  frontend/src/app/staff/settings/page.tsx
  frontend/src/components/StaffLayout.tsx
  frontend/src/components/StaffSidebar.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: update menu item handling and remove unused components in permissions pages
  frontend/src/app/staff/permissions/roles/page.tsx
  frontend/src/app/staff/permissions/users/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

refactor: update medical supplies and item comparison components to use staff APIs
  frontend/src/app/staff/items/components/CreateItemDialog.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/app/staff/medical-supplies/comparison/page.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/medical-supplies/equipment-disbursement/page.tsx
  frontend/src/app/staff/medical-supplies/equipment-usage/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/page.tsx
  frontend/src/app/staff/medical-supplies/reports/return-report/page.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/medical-supplies/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/usage-record/page.tsx
  frontend/src/app/staff/medical-supplies/vending-reports/page.tsx
  frontend/src/components/SessionProvider.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/staffApi/dispensedItemsApi.ts
  frontend/src/lib/staffApi/index.ts
  frontend/src/lib/staffApi/itemComparisonApi.ts
  frontend/src/lib/staffApi/itemsApi.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
  frontend/src/lib/staffApi/reportApi.ts
  frontend/src/lib/staffApi/returnedItemsApi.ts
  frontend/src/lib/staffApi/vendingReportsApi.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance medical supplies service and frontend components for improved item handling
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

fix: update department service port configurations in Kubernetes manifests
  backend/k8s/base/configmap.yaml
  backend/k8s/base/department-deployment.yaml
  backend/k8s/base/gateway-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

chore: update production and development kustomization files for department service
  backend/k8s/README-PRODUCTION.md
  backend/k8s/overlays/development/kustomization.yaml
  backend/k8s/overlays/production/kustomization.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

fix: update department service port configurations in services.yaml
  backend/k8s/base/services.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

refactor: clean up MedicalSuppliesTable components by commenting out unused code
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance cabinet department management with keyword search functionality
  backend/apps/department-service/src/department-service.controller.ts
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  docs/API_ENDPOINTS_LIST.md
  frontend/src/app/admin/cabinet-departments/components/CreateMappingDialog.tsx
  frontend/src/app/admin/cabinet-departments/components/EditMappingDialog.tsx
  frontend/src/app/admin/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/admin/cabinet-departments/components/SearchableSelect.tsx
  frontend/src/app/admin/cabinet-departments/page.tsx
  frontend/src/app/admin/items/components/FilterSection.tsx
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/components/SearchableSelect.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/cabinet-departments/components/CreateMappingDialog.tsx
  frontend/src/app/staff/cabinet-departments/components/EditMappingDialog.tsx
  frontend/src/app/staff/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/staff/cabinet-departments/components/SearchableSelect.tsx
  frontend/src/app/staff/cabinet-departments/page.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/components/SearchableSelect.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/cabinetApi.ts
  scripts/setup-gitlab-runner.sh
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add stock_id field to cabinet management and update related APIs
  backend/apps/department-service/src/dto/cabinet.dto.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/cabinet-departments/page.tsx
  frontend/src/app/admin/cabinets/components/CabinetsTable.tsx
  frontend/src/app/admin/cabinets/components/CreateCabinetDialog.tsx
  frontend/src/app/admin/cabinets/components/DeleteCabinetDialog.tsx
  frontend/src/app/admin/cabinets/components/EditCabinetDialog.tsx
  frontend/src/app/admin/cabinets/page.tsx
  frontend/src/app/staff/cabinets/components/CabinetsTable.tsx
  frontend/src/app/staff/cabinets/components/CreateCabinetDialog.tsx
  frontend/src/app/staff/cabinets/components/DeleteCabinetDialog.tsx
  frontend/src/app/staff/cabinets/components/EditCabinetDialog.tsx
  frontend/src/app/staff/cabinets/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/cabinetApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend
