Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*

เปลี่ยนหมาการที่ 3
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

update itemStock
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance report service with expiration tracking and sorting improvements
  backend/apps/report-service/src/report-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

refactor: streamline refill quantity calculations in item and report services
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/apps/report-service/src/services/dispensed-items-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

fix: adjust column percentages in item comparison PDF service for improved layout consistency
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: add client credential update functionality to auth and gateway services
  backend/apps/auth-service/src/auth-service.controller.ts
  backend/apps/auth-service/src/auth-service.service.ts
  backend/apps/auth-service/src/dto/auth.dto.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/logs-history/page.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/logs-history/page.tsx
  frontend/src/app/staff/return-to-cabinet-report/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: remove near expiration 3 days tracking from item services and dashboards
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/staff/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/types/common.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: improve item expiration filtering and sorting logic in item service
  backend/apps/item-service/src/item-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: add expired item tracking and update dashboard components
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  frontend/src/app/admin/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/staff/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/types/common.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: update item report titles and clean up UI components
  frontend/src/app/admin/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/staff/return-to-cabinet-report/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend
