Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

backend:test:
  stage: test
  image: node:20-alpine
  script:
  - cd backend
  - npm ci
  - npm run lint || true
  - npm run test || true
  tags:
  - docker

backend:build:auth:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  - docker build --target production -f docker/Dockerfile.auth -t $BACKEND_AUTH_IMAGE:$CI_COMMIT_SHORT_SHA -t $BACKEND_AUTH_IMAGE:latest .
  ...

backend:build:gateway:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

backend:build:item:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  - docker build --target production -f docker/Dockerfile.item -t $BACKEND_ITEM_IMAGE:$CI_COMMIT_SHORT_SHA -t $BACKEND_ITEM_IMAGE:latest .
  ...

backend:build:email:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

backend:build:category:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

frontend:test:
  stage: test
  image: node:20-alpine
  script:
  - cd frontend
  - npm ci
  - npm run type-check
  - npm run lint || true
  - npm run build
  artifacts:
    paths:
    - frontend/.next/
    expire_in: 1 hour
  tags:
  - docker

frontend:build:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd frontend
  - docker build -f docker/Dockerfile -t $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA -t $FRONTEND_IMAGE:latest .
  ...

deploy:dev:backend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: development/backend
    url: http://dev.pose.example.com/api
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying backend services to Development..."
  ...

deploy:dev:frontend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: development/frontend
    url: http://dev.pose.example.com
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying frontend to Development..."
  ...

deploy:staging:backend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: staging/backend
    url: http://staging.pose.example.com/api
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying backend services to Staging..."
  ...

feat: enhance report generation with keyword search and timezone support
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/config/report.config.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  backend/k8s/department-service-hpa.yaml
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/DispensedPagination.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/DispensedTable.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/types.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: update return to cabinet report with new naming and date handling
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/menus.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: update dispensed items API and frontend components for keyword search
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/components/StaffSidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/formatThaiDateTime.ts
  frontend/src/lib/staffApi/dispensedItemsApi.ts
  frontend/src/lib/staffApi/returnedItemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance comparison functionality with keyword support and pagination
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/page.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: refactor item comparison components for improved API integration and filtering
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/page.tsx
  frontend/src/lib/staffApi/itemComparisonApi.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

refactor: streamline item comparison page and update API integration
  frontend/src/app/staff/medical-supplies/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

refactor: improve SQL query handling in MedicalSuppliesServiceService
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

refactor: optimize SQL query for total count in MedicalSuppliesServiceService
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance FilterSection with initial search and default filter values
  frontend/src/app/admin/items/components/FilterSection.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

refactor: update item service to fetch stock_id from cabinet table
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  docs/medical-supply-usage-create-flowchart.md
  frontend/src/app/admin/items/components/FilterSection.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/staff/medical-supplies/usage-record/components/MedicalSuppliesTable.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: simplify initial search logic in FilterSection
  frontend/src/app/admin/items/components/FilterSection.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: implement items stats retrieval and enhance filtering logic
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  frontend/src/app/admin/cabinets/components/EditCabinetDialog.tsx
  frontend/src/app/admin/items/components/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/dashboard/components/StatsCards.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/staff/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/itemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item retrieval and filtering with status support
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: update discontinue item handling to affect all matching records
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  docs/medical-supply-usage-create-flowchart.md
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: refine handling of Discontinue items in medical supplies service
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: add export functionality for dispensed items in various formats
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-pdf.service.ts
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/vending-reports/components/MappingVendingTab.tsx
  frontend/src/app/admin/medical-supplies/vending-reports/components/UnmappedDispensedTab.tsx
  frontend/src/app/admin/medical-supplies/vending-reports/components/UnusedDispensedTab.tsx
  frontend/src/app/admin/medical-supplies/vending-reports/page.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: comment out unused submenu items in staff and admin menus
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

fix: correct duplicate wording in sidebar menu items
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: implement item counts summary in item service and mapping table
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: update dashboard routes and layout for admin interface
  frontend/README.md
  frontend/src/app/admin/cabinet-departments/page.tsx
  frontend/src/app/admin/cabinets/page.tsx
  frontend/src/app/admin/categories/page.tsx
  frontend/src/app/admin/dashboard/components/DashboardHeader.tsx
  frontend/src/app/admin/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/admin/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/admin/dashboard/components/StatsCards.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/page.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/middleware.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add dispensed vs usage summary endpoint and integrate into dashboard
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/admin/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/admin/dashboard/components/DashboardSummaryCard.tsx
  frontend/src/app/admin/dashboard/components/DispensedVsUsageChartCard.tsx
  frontend/src/app/admin/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/admin/dashboard/components/StatsCards.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/lib/api.ts
  frontend/src/types/common.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item service and staff dashboard with expiry date handling and department display
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/components/StaffLayout.tsx
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: update resource requests and limits in frontend deployment configuration
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance filter and item table components with expiry handling
  frontend/src/app/admin/items/components/FilterSection.tsx
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance cabinet department components with improved state management and key handling
  frontend/src/app/admin/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/admin/cabinet-departments/components/EditMappingDialog.tsx
  frontend/src/app/admin/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/cabinet-departments/components/SearchableSelect.tsx
  frontend/src/app/admin/cabinet-departments/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: update cabinet department components with improved UI and functionality
  frontend/src/app/admin/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/cabinet-departments/components/SearchableSelect.tsx
  frontend/src/app/admin/cabinet-departments/page.tsx
  frontend/src/app/admin/items/components/FilterSection.tsx
  frontend/src/app/admin/items/components/SearchableSelect.tsx
  frontend/src/app/admin/management/cabinets/components/CreateCabinetDialog.tsx
  frontend/src/app/staff/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/staff/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/staff/cabinet-departments/components/SearchableSelect.tsx
  frontend/src/app/staff/cabinet-departments/page.tsx
  frontend/src/app/staff/cabinets/components/CreateCabinetDialog.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/app/staff/items/components/SearchableSelect.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance ItemsTable component with near-expiry handling and improved styling
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

fix: update sidebar menu item href for item comparison
  frontend/src/app/admin/item-comparison/components/ComparisonDetailsCard.tsx
  frontend/src/app/admin/item-comparison/components/ComparisonPagination.tsx
  frontend/src/app/admin/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/FilterSection.tsx
  frontend/src/app/admin/item-comparison/components/ItemInfoCard.tsx
  frontend/src/app/admin/item-comparison/components/StatusBadge.tsx
  frontend/src/app/admin/item-comparison/components/SummaryCards.tsx
  frontend/src/app/admin/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/admin/item-comparison/components/common/StatusBadge.tsx
  frontend/src/app/admin/item-comparison/components/common/index.ts
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonDetailsCard.tsx
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonPagination.tsx
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/comparison/SummaryCards.tsx
  frontend/src/app/admin/item-comparison/components/comparison/index.ts
  frontend/src/app/admin/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/item-comparison/components/filters/index.ts
  frontend/src/app/admin/item-comparison/components/index.ts
  frontend/src/app/admin/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/admin/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/admin/item-comparison/components/items/index.ts
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/item-comparison/types.ts
  frontend/src/components/Sidebar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add cabinet stock report generation functionality
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/report-service/src/config/report.config.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-excel.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/uploads/items/3_logo_p-1-fit.png
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/reportApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

fix: update cabinet stock report terminology for consistency
  backend/apps/report-service/src/config/report.config.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-excel.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

fix: update cabinet stock report layout and deployment configuration
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/k8s/base/item-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

fix: refine cabinet stock report PDF layout for improved readability
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

fix: update report logo path resolution and Dockerfile configuration
  backend/apps/report-service/src/config/report.config.ts
  backend/docker/Dockerfile.report
  backend/public/3_logo_p-1-fit.png
  backend/public/file.svg
  backend/public/globe.svg
  backend/public/next.svg
  backend/public/vercel.svg
  backend/public/window.svg
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: add report generation for dispensed items for patients in Excel and PDF formats
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  frontend/src/app/admin/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/admin/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/dispensedItemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance report generation with logo and improved layout
  backend/apps/report-service/src/services/return-report-excel.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  frontend/src/app/admin/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/page.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnEditableTable.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/admin/medical-supplies/return/components/UsageSearchStep.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/medical-supplies/return/types.ts
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/item-comparison/page.tsx
  frontend/src/app/staff/medical-supplies/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/page.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/return/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/components/StaffSidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/dispensedItemsApi.ts
  frontend/src/lib/staffApi/itemComparisonApi.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
  frontend/src/lib/staffApi/vendingReportsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: update medical supplies service and sidebar menu for clarity
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add department and cabinet filters to returned items API and reports
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/k8s/README-PRODUCTION.md
  frontend/DOCKER-K8S-SETUP.md
  frontend/src/app/admin/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/admin/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/types.ts
  frontend/src/app/staff/dispense-from-cabinet/types.ts
  frontend/src/app/staff/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/app/staff/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/staff/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/return-to-cabinet-report/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/returnedItemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: rename "ผู้คืน" to "ชื่อผู้เติม" in return history tables for consistency
  frontend/src/app/admin/medical-supplies/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/staff/medical-supplies/return/components/ReturnHistoryTable.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add department and cabinet ID filters to DispenseFromCabinetPage
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*
