Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

backend:test:
  stage: test
  image: node:20-alpine
  script:
  - cd backend
  - npm ci
  - npm run lint || true
  - npm run test || true
  tags:
  - docker

backend:build:auth:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  - docker build --target production -f docker/Dockerfile.auth -t $BACKEND_AUTH_IMAGE:$CI_COMMIT_SHORT_SHA -t $BACKEND_AUTH_IMAGE:latest .
  ...

backend:build:gateway:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

backend:build:item:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  - docker build --target production -f docker/Dockerfile.item -t $BACKEND_ITEM_IMAGE:$CI_COMMIT_SHORT_SHA -t $BACKEND_ITEM_IMAGE:latest .
  ...

backend:build:email:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

backend:build:category:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd backend
  ...

frontend:test:
  stage: test
  image: node:20-alpine
  script:
  - cd frontend
  - npm ci
  - npm run type-check
  - npm run lint || true
  - npm run build
  artifacts:
    paths:
    - frontend/.next/
    expire_in: 1 hour
  tags:
  - docker

frontend:build:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY
  script:
  - cd frontend
  - docker build -f docker/Dockerfile -t $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA -t $FRONTEND_IMAGE:latest .
  ...

deploy:dev:backend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: development/backend
    url: http://dev.pose.example.com/api
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying backend services to Development..."
  ...

deploy:dev:frontend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: development/frontend
    url: http://dev.pose.example.com
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying frontend to Development..."
  ...

deploy:staging:backend:
  stage: deploy
  image: bitnami/kubectl:latest
  environment:
    name: staging/backend
    url: http://staging.pose.example.com/api
  before_script:
  - kubectl config use-context $KUBE_CONTEXT || true
  script:
  - echo "Deploying backend services to Staging..."
  ...

Update frontend to reflect medical supplies management
  frontend/README.md
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navbar.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add Client Credential Authentication functionality
  backend/CLIENT-CREDENTIAL-AUTH.md
  backend/apps/auth-service/src/auth-service.controller.ts
  backend/apps/auth-service/src/auth-service.module.ts
  backend/apps/auth-service/src/auth-service.service.ts
  backend/apps/auth-service/src/strategies/client-credential.strategy.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.module.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/gateway-api/src/guards/client-credential.guard.ts
  backend/apps/gateway-api/src/guards/flexible-auth.guard.ts
  backend/apps/gateway-api/src/guards/optional-auth.guard.ts
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Update authentication guards for medical supplies endpoints
  backend/apps/gateway-api/src/gateway-api.controller.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Optimize resource requests and limits for multiple deployments
  backend/k8s/base/auth-deployment.yaml
  backend/k8s/base/category-deployment.yaml
  backend/k8s/base/email-deployment.yaml
  backend/k8s/base/gateway-deployment.yaml
  backend/k8s/base/item-deployment.yaml
  backend/k8s/base/medical-supplies-deployment.yaml
  frontend/k8s/frontend-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Adjust resource requests and limits for auth and gateway deployments
  backend/k8s/base/auth-deployment.yaml
  backend/k8s/base/gateway-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Refactor category and item management logic
  backend/apps/category-service/src/category-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/item-service/src/dto/create-item.dto.ts
  backend/apps/item-service/src/dto/update-item.dto.ts
  frontend/src/app/categories/components/CreateCategoryDialog.tsx
  frontend/src/app/categories/components/DeleteCategoryDialog.tsx
  frontend/src/app/categories/components/EditCategoryDialog.tsx
  frontend/src/app/categories/page.tsx
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/DeleteItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/validations.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add base path configuration for Next.js and update deployment scripts
  frontend/docker/Dockerfile
  frontend/k8s/deploy-first-time.sh
  frontend/k8s/frontend-deployment.yaml
  frontend/k8s/update-service.sh
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update redirect logic in API interceptor to use dynamic base path for login
  frontend/src/lib/api.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update frontend configuration and deployment scripts for medical supplies path
  frontend/k8s/deploy-first-time.sh
  frontend/k8s/frontend-deployment.yaml
  frontend/k8s/update-service.sh
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add trailing slash configuration in Next.js
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update health check paths in frontend deployment configuration
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update frontend deployment configuration to include trailing slash in NEXTAUTH_URL
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Remove trailing slash enforcement in Next.js configuration
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add start script for alternative port in frontend configuration
  frontend/package.json
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update frontend deployment configuration to remove base path for health checks
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance Dockerfile and deployment configuration for Next.js environment variables
  frontend/docker/Dockerfile
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enhance NextAuth redirect handling to support basePath
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/middleware.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor Next.js configuration to streamline basePath handling
  frontend/next.config.js
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/middleware.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update middleware and SessionProvider to utilize dynamic basePath
  frontend/src/components/SessionProvider.tsx
  frontend/src/middleware.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Implement dynamic basePath handling in middleware and Navbar for NextAuth integration
  frontend/src/components/Navbar.tsx
  frontend/src/middleware.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update frontend deployment and README for API URL configuration
  frontend/k8s/README.md
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update health check paths in frontend deployment and enhance README instructions
  frontend/k8s/README.md
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update Dockerfile and frontend deployment to change application port from 3100 to 4100
  frontend/docker/Dockerfile
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Add trailing slash configuration in Next.js setup
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update API URL in update-service.sh to use external proxy
  frontend/k8s/update-service.sh
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update health check paths in Dockerfile and frontend deployment
  frontend/docker/Dockerfile
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Update application port from 4100 to 3100 in Dockerfile and frontend deployment
  frontend/docker/Dockerfile
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Remove trailing slash configuration from Next.js setup in next.config.js to streamline routing behavior.
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Enable trailing slash in Next.js configuration to prevent 308 redirects, enhancing routing consistency.
  frontend/next.config.js
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Refactor health check paths in Dockerfile and frontend deployment to remove trailing slashes
  frontend/docker/Dockerfile
  frontend/k8s/frontend-deployment.yaml
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Remove housekeeping service and related configurations
  backend/apps/category-service/src/category-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.module.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/gateway-api/src/main.ts
  backend/apps/housekeeping-service/LOGGING.md
  backend/apps/housekeeping-service/README.md
  backend/apps/housekeeping-service/src/housekeeping-service.controller.ts
  backend/apps/housekeeping-service/src/housekeeping-service.module.ts
  backend/apps/housekeeping-service/src/housekeeping-service.service.ts
  backend/apps/housekeeping-service/src/logger/housekeeping-logger.service.ts
  backend/apps/housekeeping-service/src/main.ts
  backend/apps/housekeeping-service/src/prisma.service.ts
  backend/apps/housekeeping-service/test/app.e2e-spec.ts
  backend/apps/housekeeping-service/test/jest-e2e.json
  backend/apps/housekeeping-service/tsconfig.app.json
  backend/apps/item-service/CREATE-ITEM-EXAMPLES.md
  backend/apps/item-service/src/dto/create-item.dto.ts
  backend/apps/item-service/src/dto/update-item.dto.ts
  backend/apps/item-service/src/item-http.controller.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/item-service/src/main.ts
  backend/docker/Dockerfile.housekeeping
  backend/nest-cli.json
  backend/package.json
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Refactor item management and database schema
  backend/package-lock.json
  backend/prisma-archive/schema.prisma
  backend/schema-from-prisma.sql
  frontend/src/app/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/items/[id]/edit/page.tsx
  frontend/src/app/items/components/CreateItemDialog.tsx
  frontend/src/app/items/components/DeleteItemDialog.tsx
  frontend/src/app/items/components/EditItemDialog.tsx
  frontend/src/app/items/components/ItemsFilter.tsx
  frontend/src/app/items/components/ItemsGrid.tsx
  frontend/src/app/items/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/validations.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add medical supply item quantity management endpoints and DTOs
  backend/apps/gateway-api/QUANTITY_MANAGEMENT_API.md
  backend/apps/gateway-api/src/dto/medical-supply.dto.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/medical-supplies-service/QUANTITY_MANAGEMENT_SYSTEM.md
  backend/apps/medical-supplies-service/src/dto/index.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Enhance Gateway API and Sidebar with new features
  backend/apps/gateway-api/src/gateway-api.controller.ts
  frontend/COMPARISON_REPORT_README.md
  frontend/src/app/medical-supplies/comparison/page.tsx
  frontend/src/app/medical-supplies/components/ComparisonTable.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Add Report Service for generating Excel and PDF reports
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.module.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/report-service/README.md
  backend/apps/report-service/REPORT_SERVICE_GUIDE.md
  backend/apps/report-service/assets/fonts/README.md
  backend/apps/report-service/src/main.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.module.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/comparison_report_excel.service.ts
  backend/apps/report-service/src/services/comparison_report_pdf.service.ts
  backend/apps/report-service/src/services/equipment_disbursement_excel.service.ts
  backend/apps/report-service/src/services/equipment_disbursement_pdf.service.ts
  backend/apps/report-service/src/services/equipment_usage_excel.service.ts
  backend/apps/report-service/src/services/equipment_usage_pdf.service.ts
  backend/apps/report-service/src/types/comparison-report.types.ts
  backend/apps/report-service/src/types/equipment-disbursement-report.types.ts
  backend/apps/report-service/src/types/equipment-usage-report.types.ts
  backend/apps/report-service/test/app.e2e-spec.ts
  backend/apps/report-service/test/jest-e2e.json
  backend/apps/report-service/tsconfig.app.json
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

Implement medical supply reports feature with export options
  frontend/src/app/medical-supplies/comparison/page.tsx
  frontend/src/app/medical-supplies/equipment-disbursement/page.tsx
  frontend/src/app/medical-supplies/equipment-usage/page.tsx
  frontend/src/app/medical-supplies/reports/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*
