Repository Thapthai/app_microservice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

Path conditions:
  backend:test: (any of: backend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:auth: (any of: backend/apps/auth-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.auth, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:gateway: (any of: backend/apps/gateway-api/**/*, backend/libs/**/*, backend/docker/Dockerfile.gateway, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:item: (any of: backend/apps/item-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.item, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:email: (any of: backend/apps/email-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.email, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  backend:build:category: (any of: backend/apps/category-service/**/*, backend/libs/**/*, backend/docker/Dockerfile.category, backend/package*.json, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: backend/**/*, .gitlab-ci.yml)
  frontend:test: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  frontend:build: (any of: frontend/**/*, .gitlab-ci.yml, .gitlab-ci-optimized.yml) or (any of: frontend/**/*, .gitlab-ci.yml)
  deploy:dev:backend: any of: backend/**/*
  deploy:dev:frontend: any of: frontend/**/*
  deploy:staging:backend: any of: backend/**/*
  deploy:staging:frontend: any of: frontend/**/*
  deploy:production:backend: any of: backend/**/*
  deploy:production:frontend: any of: frontend/**/*

feat: implement stock return functionality in medical supplies service
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/dto/index.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-report-excel.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/medical-supplies/return/types.ts
  frontend/src/app/staff/medical-supplies/return/types.ts
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance return functionality and report generation in medical supplies
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/medical-supplies/reports/return-report/page.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/reports/return-report/page.tsx
  frontend/src/app/staff/medical-supplies/reports/return-report/page.tsx
  frontend/src/app/staff/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/staff/medical-supplies/return/page.tsx
  frontend/src/app/staff/reports/return-report/page.tsx
  frontend/src/lib/staffApi/itemsApi.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add refresh functionality to return pages and filters in medical supplies
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/staff/medical-supplies/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/staff/medical-supplies/return/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: update department and cabinet filters across multiple services and reports
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-pdf.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  frontend/src/app/admin/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/admin/dispense-from-cabinet/types.ts
  frontend/src/app/admin/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/dispense-from-cabinet/components/DispensedTable.tsx
  frontend/src/app/staff/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/return/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/app/staff/return-to-cabinet-report/components/DispensedPagination.tsx
  frontend/src/app/staff/return-to-cabinet-report/components/DispensedTable.tsx
  frontend/src/app/staff/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/staff/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/return-to-cabinet-report/types.ts
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: simplify SQL query in item service for improved clarity
  backend/apps/item-service/src/item-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: update return functionality and UI components for medical supplies
  backend/apps/item-service/src/item-service.service.ts
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/app/staff/return/components/ReturnDetailsStep.tsx
  frontend/src/app/staff/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/staff/return/components/ReturnHistoryTable.tsx
  frontend/src/app/staff/return/components/SupplyItemSelectStep.tsx
  frontend/src/app/staff/return/components/UsageSelectStep.tsx
  frontend/src/app/staff/return/page.tsx
  frontend/src/app/staff/return/types.ts
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

fix: correct SQL join condition for user cabinet in medical supplies service
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

chore: update resource requests and limits in medical supplies deployment configuration
  backend/k8s/base/medical-supplies-deployment.yaml
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance item comparison functionality and UI in admin panel
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/item-comparison/components/ComparisonDetailsCard.tsx
  frontend/src/app/admin/item-comparison/components/ComparisonPagination.tsx
  frontend/src/app/admin/item-comparison/components/FilterSection.tsx
  frontend/src/app/admin/item-comparison/components/ItemInfoCard.tsx
  frontend/src/app/admin/item-comparison/components/StatusBadge.tsx
  frontend/src/app/admin/item-comparison/components/SummaryCards.tsx
  frontend/src/app/admin/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/admin/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/app/staff/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/staff/item-comparison/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/app/staff/return-to-cabinet-report/components/ReturnedTable.tsx
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add department and cabinet filters to various services and frontend components
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  frontend/src/app/admin/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/admin/dispense-from-cabinet/page.tsx
  frontend/src/app/admin/dispense-from-cabinet/types.ts
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/types.ts
  frontend/src/app/admin/management/page.tsx
  frontend/src/app/admin/management/permission-role/page.tsx
  frontend/src/app/admin/medical-supplies/components/CancelBillDialog.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/item-comparison/types.ts
  frontend/src/app/staff/management/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/types.ts
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/dispensedItemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item and medical supplies services with stock filtering and UI improvements
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/types/item-comparison-report.types.ts
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/components/Sidebar.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add department and cabinet filtering to report and item services
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-pdf.service.ts
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add medical supply usage logs retrieval functionality
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.controller.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  frontend/src/app/admin/dashboard/components/StatsCards.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/usage-record/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/app/staff/usage-record/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/StaffSidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: implement zoom functionality in AppLayout, Navbar, and StaffLayout components
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/StaffLayout.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add logs history pages for admin and staff
  frontend/src/app/admin/logs-history/page.tsx
  frontend/src/app/staff/logs-history/page.tsx
  frontend/src/app/staff/menus.ts
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance item and report services with stock management and usage tracking
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-excel.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/ItemInfoCard.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/return-to-cabinet-report/page.tsx
  frontend/src/app/staff/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/staff/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/staff/dashboard/components/DashboardHeader.tsx
  frontend/src/app/staff/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/staff/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/staff/dashboard/components/DashboardSummaryCard.tsx
  frontend/src/app/staff/dashboard/components/DispensedVsUsageChartCard.tsx
  frontend/src/app/staff/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/staff/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/staff/dashboard/components/StatsCards.tsx
  frontend/src/app/staff/dashboard/page.tsx
  frontend/src/app/staff/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/staff/return/page.tsx
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add ItemInfoCard component for detailed item display in medical supplies comparison
  frontend/src/app/admin/medical-supplies/item-comparison/components/items/ItemInfoCard.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance item and report services with updated stock tracking and database schema
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance medical supplies services with new filtering options and data handling
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/item-comparison/types.ts
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/ComparisonDetailsCard.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/ComparisonPagination.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/StatusBadge.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/SummaryCards.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/common/StatusBadge.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/common/index.ts
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/ComparisonDetailsCard.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/ComparisonPagination.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/SummaryCards.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/comparison/index.ts
  frontend/src/app/admin/medical-supplies/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/filters/index.ts
  frontend/src/app/admin/medical-supplies/item-comparison/components/index.ts
  frontend/src/app/admin/medical-supplies/item-comparison/components/items/ItemInfoCard.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/components/items/index.ts
  frontend/src/app/admin/medical-supplies/item-comparison/page.tsx
  frontend/src/app/admin/medical-supplies/item-comparison/types.ts
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/lib/api.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add department support to staff user management and enhance data handling
  backend/apps/auth-service/src/auth-service.service.ts
  backend/apps/auth-service/src/dto/staff-user.dto.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/management/staff-users/page.tsx
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/usage-record/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item stock tracking with dispensed count
  backend/apps/department-service/src/department-service.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  frontend/src/app/admin/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/staff/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/staff/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/staff/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/staff/usage-record/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: simplify button styling in FilterSection components
  frontend/src/app/admin/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/staff/cabinet-departments/components/FilterSection.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance item and report services with improved filtering and status handling
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: replace FileText and FileSpreadsheet icons with Download in report export buttons
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/staff/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: enhance stock return functionality with cabinet details and stock ID
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/return-report-excel.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryTable.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/admin/medical-supplies/return/types.ts
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/return/components/ReturnEditableTable.tsx
  frontend/src/app/staff/return/components/ReturnHistoryTable.tsx
  frontend/src/app/staff/return/components/UsageSearchStep.tsx
  frontend/src/app/staff/return/page.tsx
  frontend/src/app/staff/return/types.ts
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/medicalSuppliesApi.ts
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item and report services with cabinet-based damaged item tracking
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/components/ItemsTable.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/types/item.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: implement cabinet-based min/max settings for items
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/item-service/src/dto/update-item-minmax.dto.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-excel.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/prisma/full-schema.sql
  backend/prisma/schema.prisma
  frontend/src/app/admin/items/components/UpdateMinMaxDialog.tsx
  frontend/src/app/admin/items/page.tsx
  frontend/src/app/staff/items/components/UpdateMinMaxDialog.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/itemsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

fix: correct parameter order in updateItemMinMax method
  backend/apps/gateway-api/src/gateway-api.controller.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance medical supplies pages with print date and department details
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/usage-record/page.tsx
  frontend/src/app/staff/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/usage-record/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: implement item stock grouping and enhanced display in MappingTable
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add department validation in medical supplies service
  backend/apps/medical-supplies-service/src/dto/medical-supply.dto.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, deploy:dev:backend, deploy:staging:backend, deploy:production:backend

feat: enhance item services with department filtering and improved stock tracking
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  frontend/src/app/admin/cabinet-departments/components/CreateMappingDialog.tsx
  frontend/src/app/admin/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/item-comparison/types.ts
  frontend/src/app/staff/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/staff/item-comparison/components/filters/FilterSection.tsx
  frontend/src/app/staff/item-comparison/page.tsx
  frontend/src/app/staff/item-comparison/types.ts
  frontend/src/lib/staffApi/itemComparisonApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item and medical supplies services with department filtering and stock tracking improvements
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/comparison_report_excel.service.ts
  backend/apps/report-service/src/services/comparison_report_pdf.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  frontend/src/app/admin/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/admin/cabinet-departments/components/EditMappingDialog.tsx
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/items/components/ItemsTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/admin/medical-supplies/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/admin/medical-supplies/return/page.tsx
  frontend/src/app/staff/cabinet-departments/components/EditMappingDialog.tsx
  frontend/src/app/staff/item-comparison/page.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/return/components/ReturnHistoryFilter.tsx
  frontend/src/app/staff/return/page.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance medical supplies service and frontend with usage type handling
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  frontend/src/app/admin/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/usage-record/components/MedicalSuppliesTable.tsx
  frontend/src/app/staff/usage-record/components/MedicalSuppliesTable.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: add departmentCode filtering to various services and frontend components
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  frontend/src/app/admin/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/admin/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/admin/item-comparison/page.tsx
  frontend/src/app/admin/medical-supplies/cancel-bill/page.tsx
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/staff/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/staff/item-comparison/page.tsx
  frontend/src/app/staff/medical-supplies/cancel-bill/page.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/comparison/ComparisonTable.tsx
  frontend/src/app/staff/medical-supplies/item-comparison/components/items/UsageItemsTable.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/usage-record/page.tsx
  frontend/src/app/staff/usage-record/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/itemComparisonApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: integrate department filtering from localStorage across staff pages
  frontend/src/app/staff/cabinet-departments/components/FilterSection.tsx
  frontend/src/app/staff/cabinet-departments/page.tsx
  frontend/src/app/staff/dispense-from-cabinet/components/FilterSection.tsx
  frontend/src/app/staff/dispense-from-cabinet/page.tsx
  frontend/src/app/staff/items/components/FilterSection.tsx
  frontend/src/app/staff/items/page.tsx
  frontend/src/app/staff/return-to-cabinet-report/components/FilterSection.tsx
  frontend/src/app/staff/return-to-cabinet-report/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend

feat: add usage type filtering to reports and frontend components
  backend/apps/gateway-api/src/gateway-api.controller.ts
  backend/apps/gateway-api/src/gateway-api.service.ts
  backend/apps/report-service/src/report-service.controller.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  frontend/src/app/admin/medical-supplies/page.tsx
  frontend/src/app/staff/medical-supplies/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/staffApi/vendingReportsApi.ts
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

feat: enhance item and report services with department and stock details
  backend/apps/item-service/src/item-service.service.ts
  backend/apps/medical-supplies-service/src/medical-supplies-service.service.ts
  backend/apps/report-service/src/report-service.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-excel.service.ts
  backend/apps/report-service/src/services/cabinet-stock-report-pdf.service.ts
  backend/apps/report-service/src/services/dispensed-items-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-excel.service.ts
  backend/apps/report-service/src/services/dispensed-items-for-patients-pdf.service.ts
  backend/apps/report-service/src/services/dispensed-items-pdf.service.ts
  backend/apps/report-service/src/services/item-comparison-excel.service.ts
  backend/apps/report-service/src/services/item-comparison-pdf.service.ts
  backend/apps/report-service/src/services/return-report-excel.service.ts
  backend/apps/report-service/src/services/return-report-pdf.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-excel.service.ts
  backend/apps/report-service/src/services/return-to-cabinet-report-pdf.service.ts
  backend/apps/report-service/src/types/item-comparison-report.types.ts
  frontend/src/app/admin/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/admin/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/admin/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/admin/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/admin/dashboard/components/RecentItemsTable.tsx
  frontend/src/app/admin/management/permission-role/page.tsx
  frontend/src/app/staff/cabinet-departments/components/CabinetDetailsCard.tsx
  frontend/src/app/staff/dashboard/components/DashboardItemsTable.tsx
  frontend/src/app/staff/dashboard/components/DashboardMappingsTable.tsx
  frontend/src/app/staff/dashboard/components/ItemsWithExpirySidebar.tsx
  frontend/src/app/staff/dashboard/components/RecentItemsTable.tsx
Due: backend:test, backend:build:auth, backend:build:gateway, backend:build:item, backend:build:email, backend:build:category, frontend:test, frontend:build, deploy:dev:backend, deploy:dev:frontend, deploy:staging:backend, deploy:staging:frontend, deploy:production:backend, deploy:production:frontend

refactor: comment out cabinet code display in MappingTable and Dashboard components
  frontend/src/app/admin/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/staff/cabinet-departments/components/MappingTable.tsx
  frontend/src/app/staff/dashboard/page.tsx
Due: frontend:test, frontend:build, deploy:dev:frontend, deploy:staging:frontend, deploy:production:frontend
